:root {
  --primary-font: Roboto, sans-serif;
  --primary-gray-color: #434455;
  --primary-white-color: #ffffff;
  --primary-skyblue-color: #4d5ae5;
  --primary-black-color: #2e2f42;
  --primary-blue-color: #404bbf;
  --primary-white1-color: #f4f4fd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-gray-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--primary-white-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* -----------header------------ */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  background: var(--primary-white-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-skyblue-color);
  margin-right: 76px;
}

.logo span {
  color: var(--primary-black-color);
}

.logo span:hover,
.logo span:focus {
  color: var(--primary-blue-color);
}

.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 76px;
}

.page-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
}

.page-nav:hover,
.page-nav:focus {
  color: var(--primary-blue-color);
}

.address {
  display: flex;
  align-items: center;
  gap: 40px;
}

.adad {
}

.address-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-gray-color);
}

.address .address-list:hover,
.address .address-list:focus {
  color: var(--primary-blue-color);
}

/* -----main----- */
/* -----hero----- */

.hero {
}

.hero-container {
  background: var(--primary-black-color);
  padding: 188px 331px 292px 331px;
}

.page-title {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.button {
  padding: 16px 32px;
  gap: 10px;
  margin-top: 48px;
  margin-left: 195.5px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  background: var(--primary-skyblue-color);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: var(--primary-blue-color);
}

/* -----section Advantages----- */

.advantages {
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-black-color);
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-gray-color);
}

.our-team {
  background: var(--primary-white1-color);
}

.employees {
  background: var(--primary-white-color);
}

.doing {
  display: flex;

  width: 1128px;
  height: 412px;
}
/* -----footer----- */

.footer {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-skyblue-color);
}
.footer span {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white1-color);
}

/* -----portfolio----- */

.div-btn {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  margin: 96px 427px 72px 427px;
}

.btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-skyblue-color);
  background: var(--primary-white1-color);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--primary-white-color);
  background: var(--primary-blue-color);
}

.div-container {
  display: flex;
  width: 1128px;
  height: 420px;
}
